@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}
h1 {
    text-align: center;
    background-color: #F2C94C;
    margin-top: 0;
    padding: 1rem 0;

}
.container-center {
    max-width: 600px;
    margin: auto;
}
#text-area {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    height: 7rem;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    padding: 1rem;
}
.box {
    width: 70%;
    margin: auto;
    height: 7rem;
    border: 1px solid black;
    margin-top: 1rem;
    font-family:'Architects Daughter', cursive;
    font-size: large;
    padding: 1rem;
}
#btn {
    background-color:  #F2C94C;
    border : none;
    padding: 0.8rem 1.25rem;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
}
p {
    font-size: 1.22rem;
}
.mid {
    margin-left: 3rem;
}
